<% provide(:title, t(:games)) %>
<h1><%= t :catalog %></h1>

<div class="row">
	<div class="col-md-8">
		<% if @products.any? %>
			<%= will_paginate @products %>
				<ul class="products">
					<%= render @products %>
				</ul>
			<%= will_paginate @products %>
		<% end %>
	</div>
</div>
