<li id="product-<%= product.id %>">
	<span><%= product_edit_path(product) %></span>
	<span class="content">
		<%= I18n.locale.to_s == "en" ? product.description_en : product.description_pt %>
	</span>
</li>