<footer class="footer">
	<small>
		The Foostore
		by <a href="https://br.linkedin.com/in/hevertonsarah">Heverton Sarah</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", "" %></li>
			<li><%= link_to "Contact", "" %></li>
		</ul>
	</nav>
</footer>